node_modules
.next
.env
.env.local
.DS_Store
*.log
prisma/db.sqlite
prisma/db.sqlite-journal
prisma/db.sqlite.backup-*
prisma/*.bak
.vercel
tsconfig.tsbuildinfo

certificates
.env*
!.env.example
public/IMG_0566.JPG
